<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- atualizando página -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>


  <!-- loop para apresentar filmes -->
  <ion-card *ngFor="let filme of lista_filmes">
    
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/avatar1.png">
        </ion-avatar>
        <h2 class="feed_title"> {{ filme.original_title }}</h2>
        <p class="feed_date"> {{ filme.release_date }}</p>
      </ion-item>
    
      <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">
    
      <ion-card-content>
        <p> {{ filme.overview }} </p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div> {{ objeto_feed.qntd_likes }} Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div> {{ objeto_feed.qntd_comments}} Comments </div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>
    
      <button ion-button block (click)="abrirDetalhes(filme)"> Detalhes </button>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>  
</ion-content>
