<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>Intro</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content padding>
  <ion-slides pager>

    <ion-slide class="slide_image">
      <img src="assets/imgs/user.png" alt="">
      <h2>Meu app Fantástico</h2>
      <br>
      <div>
        <p>
          Este meu app terá funções incriveis. Ele foi feito pra impressionar você.
        </p>
        <p>
          Ficou curioso? <strong>Veja mais</strong>
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <img src="assets/imgs/semana-de-eletrica.jpeg" alt="">
      <h2>Semana de Engenharia Elétrica</h2>
      <div>
        <p>
          Confira nossos cursos <a href="https://www.bitevento.com/vi-semana-de-engenharia-eletrica-da-unifap--o-profissional-na-sua-area-de-atuacao__118"><strong>Aqui</strong></a>
        </p>
        <p>
          Aprenda coisas como robótica, automação residencial, controles de energia, trava elétrica e muito mais!
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <img src="assets/imgs/lucas.jpg" alt="">
      <h2>Curso de Arduino Básico</h2>
      <div>
        <p>Professor: <strong>Lucas Figueiredo</strong></p>
        <p>Acadêmico de Ciência da Computação</p>
      </div>

      <a (click)="goToTabsPage()"><strong>Continuar</strong></a>
    </ion-slide>

  </ion-slides>

</ion-content>