<!--
  Generated template for the FilmeDetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card *ngIf="filme">
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/avatar1.png">
    </ion-avatar>
    <h2 class="feed_title"> {{ filme.original_title }}</h2>
    <p class="feed_date"> {{ filme.release_date }}</p>
  </ion-item>

  <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">

  <ion-card-content>
    <p> {{ filme.overview }} </p>
  </ion-card-content>
</ion-card>
</ion-content>
