<!--
  Generated template for the SobrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>sobre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Página Sobre!
</ion-content>
